body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #aa98e9;
}

.calculator {
    background-color: #3a4452;
    border-radius: 10px;
    border: none;
    padding: 15px;
    text-align: center;
    box-shadow: 4px 4px 4px #030000;

}

#display {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: end;
    grid: span 4;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}

button {
    width: 40px;
    height: 40px;
    font-size: 1em;
    margin: 5px;
    background-color:powderblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px 4px #030000;

}
button:hover {
    background-color: #e2b6b6;
}

button.operator {
    background-color: #f7931e;
    color: #fff;
}
.equal{
    width: 95px;
}
button.C,button.del{
    background-color: rgb(221, 103, 103);
}